.idea/
__pycache__/
temporary/
*.pyc
*.cpython-39.pyc
cogs/testing.py
cogs/testing_*.py
configs/blocked.json
configs/randomized.json
configs/enabled_cogs.py
configs/secrets.py
cogs/on_member_update/Armenium.json
